/* your custom css */

.homeContainer {
  background: white;
  color: #fff;
  /* background-image: linear-gradient(180deg, #269eac, #1e545a); */
}

.homeContainer .badges a {
  margin-right: 10px;
}

.homeContainer .badges {
  margin: 20px 0 10px;
}

.promoSection a {
  margin-right: 20px;
}

.projectTitle,
.projectTagLine {
  font-family: HelveticaNeue, serif;
  text-align: center;
  line-height: 1em;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
}

.projectImage {
  margin: 10px 0;
}

.projectImage img {
  box-shadow: 2px 2px 5px 0px #bcc9d2;
  width: 80%;
}

.productShowcaseSection,
.feature {
  padding: 10px 0;
  color: white;
}

.feature-light {
  background: #f1f1f1;
  color: #0c0c0c;
}

.features .feature-light h3 {
  color: #0c0c0c;
}

.feature-dark {
  background: #182025;
}

.feature-list ul {
  list-style: none;
}

.feature-list li:before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url("https://image.flaticon.com/icons/svg/190/190411.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2em;
}

.contribute .content.row {
  margin: 0;
}

.what-is-garie .content {
  padding: 0;
}

.mainContainer {
  padding-top: 0;
  padding-bottom: 0;
  color: #ccc;
}

.container .gridBlock .blockContent p {
  line-height: 1.8;
}

.container .wrapper .alignCenter h2 {
  padding-bottom: 0;
}

.container .wrapper .alignCenter h2 {
  color: white;
}

.features p {
  line-height: 1.8;
}

.features h3 {
  font-size: 7rem;
  font-weight: 100;
  color: #fff;
  margin: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 736px) {
  .projectImage img {
    width: 100%;
  }

  .mainContainer img {
    width: 100%;
  }

  .mainContainer .blockElement {
    margin: 25px 0 50px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer {
  background-image: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
}
@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul {
    background-image: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  }
}

.fixedHeaderContainer header h2 {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.fixedHeaderContainer header .headerTitle {
  letter-spacing: 7px;
}

.splash {
  min-height: 700px;
  background: linear-gradient(#121020, #21233e);
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.splash h1 {
  color: white;
  font-size: 44px;
  line-height: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}

.splash h2 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 140%;
  max-width: 750px;
  letter-spacing: 1px;
}

.splash .btn {
  color: white;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 6px;
  margin: 0 10px;
  border: 1px solid white;
}

.splash .btn.primary {
  background-color: #008cf2;
  border-color: #008cf2;
}

.splash .shadow {
  position: absolute;
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent); */
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  z-index: 2;
}

.center {
  text-align: center;
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -320px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -360px);
    opacity: 1;
  }
}

.splashScreen {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  animation: 0.6s ease-out 0.2s 1 slideIn forwards;
  width: 1116px;
  max-width: 100%;
}

.content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 15px;
}

.content.row {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.content .col {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px 20px;
  align-self: center;
}

.col h3 {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 20px;
}

.col h4 {
  font-weight: 500;
  font-size: 0.8em;
  opacity: 0.7;
  text-transform: uppercase;
}

.col p {
  opacity: 0.7;
}

footer.nav-footer {
  box-shadow: none;
  background: #121020;
  font-size: 15px;
}

nav.toc .toggleNav,
nav.toc .toggleNav .navGroup.navGroupActive {
  background: transparent;
}

nav.toc .toggleNav .navGroup.navGroupActive ul {
  padding: 0;
  margin-bottom: 20px;
}

nav.toc .toggleNav ul li a {
  margin: 0;
  font-size: 1em;
  opacity: 0.7;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
  background: none;
  color: inherit;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.button {
  border-radius: 6px;
  text-transform: none;
}

.sitemap {
  width: 100%;
}

.docsNavContainer {
  margin-top: 65px;
}

a.learnmore {
  display: inline-block;
  margin-top: 10px;
  color: $actionColor;
}

a.learnmore:hover {
  opacity: 0.7;
}

nav.toc .toggleNav ul li a.navItemActive {
  color: $actionColor;
  opacity: 1;
}

code,
pre code {
  font-size: 0.85em;
  margin-left: 2px;
  margin-right: 2px;
}

pre code {
  background: none;
  box-shadow: none;
  border-left-color: #585760;
  border-left-width: 3px;
  margin-left: 0;
  line-height: 1.4;
  border-radius: 0;
}

.mainContainer {
  font-size: 1em;
  line-height: 100%;
}

.mainContainer .post p code {
  background: #7f6fff;
  color: white;
}

.mainContainer .wrapper p,
.blockElement p,
.mainContainer .wrapper ul li,
.mainContainer .wrapper ol li {
  line-height: 1.4;
}

.mainContainer article a {
  color: $actionColor;
}

.mainContainer article a:hover {
  opacity: 0.8;
}

footer .sitemap .nav-home,
footer .fbOpenSource {
  opacity: 1;
}

footer iframe {
  margin-top: 8px;
}

@media screen and (max-width: 736px) {
  .docsNavContainer,
  .docsSliderActive nav.toc .navBreadcrumb {
    margin-top: 0;
    background-color: #f5f7f9;
    border-bottom: 1px solid #d9dde1;
  }

  nav.toc section .navGroups {
    padding: 50px 20px 60px;
  }

  .content.row {
    flex-direction: column;
  }

  .splash .splashScreen {
    margin-top: 20px;
  }

  .content.row {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  footer .sitemap {
    margin: 0;
  }

  footer .sitemap > div {
    padding: 20px;
  }

  .splash h1 {
    font-size: 36px;
    margin-top: 0;
  }

  .fixedHeaderContainer a {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
  }
}

@media screen and (max-width: 680px) {
  .splash .splashScreen {
    margin-top: 20px;
    top: 120%;
  }
}

@media only screen and (min-width: 736px) {
  .navigationSlider .slidingNav ul li a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigationSlider .slidingNav ul li:last-child a {
    padding-right: 0;
  }
}

.warning {
  background-color: rgb(253, 245, 212);
  border-left: 4px solid rgb(241, 196, 15);
  padding: 12px;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: none;
}

/* Documentation */

.docsNavContainer {
  margin: 0;
}

.docMainWrapper .mainContainer {
  padding-top: 40px;
  color: #484848;
}
